@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
}

main {
    background-color: #080828;
    border-radius: 15px 15px 30px 30px;
    margin: 0 auto;
    margin: 10px 0px;
    width: 95%;
    height: 70%;
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    color: white;
}

#background img {
    width: 260px;
    margin: 20px;
    border-radius: 20px;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 8px;
    padding-top: 18px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(165, 165, 165);
}

header #red {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: red;
    padding: 5px;
    margin: 5px;
}

header #yellow {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}

header #green {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: green;
    padding: 5px;
    margin: 5px;
}

header p {
    display: none;
}

input {
    width: 78%;
    height: 23px;
    border-radius: 4px;
}

#conteudo button {
    width: 120px;
    height: 30px;
    background-color: #120bf1;
    color: white;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
    margin: 25px auto;
}

#conteudo button:hover {
    background-color: #23138b;
}

#conteudo a {
    color: #120bf1;
    text-decoration: none;
}

#conteudo a:hover {
    text-decoration: underline;
}

hr {
    width: 100%;
    margin: 20px 0;
}

#center {
    text-align: center;
}

div#empresa img {
    width: 18px;
    align-items: center;
}
